<div class="page-header">
 <h1>About Open Train Times</h1>
</div>

<div class="row">
 <div class="span12">

  <h2>What's it all about?</h2>

  <p>We have train timetables, and we're presenting them to you in a searchable form.  You can search for a train to find out where it should be, or you can see a list of trains that are scheduled to pass a location.</p>

  <p>If you want to use the data we've collected, that's fine - we're working to make that available to you for whatever you want to do with it!  And if you have questions or comments, please <%= link_to 'email us', 'mailto:openraildata@gmail.com' %>.</p>

  <h2>Technical stuff</h2>

  <p>Timetable data, updated nightly, is provided by <a href="http://www.networkrail.co.uk/">Network Rail</a> and RSID data from <a href="http://www.atoc.org/">RSP</a>.</p>

  <p>At the moment, we don't have real-time data, but hope to make it available soon for the following train operating companies (TOCs):</p>

  <ul>
   <li>London Overground (LO)</li>
   <li>London Midland (LM)</li>
   <li>Virgin Trains (VT)</li>
   <li>National Express East Anglia (EA)</li>
  </ul>

  <p>It's a big job, so please bear with us.</p>

  <p>There are certain things you need to know the information we present to you - please <%= link_to 'read the disclaimer', :action => 'disclaimer' %> for the full picture.  Don't worry, we're not trying to misinform you!</p>

  <h2>Thanks</h2>

  <p>Finally, the following people deserve a mention for their help and assistance in getting this site up and running:</p>

  <ul>
   <li><%= link_to 'Jonathan Raper', 'http://www.placr.co.uk/' %>, for his work to bring the subject of Open Rail Data in to the public spotlight</li>
   <li>Emer Coleman, for her enthusiasm and networking, and for building the <%= link_to 'London Datastore', 'http://data.london.gov.uk' %>, which kicked off my interest in Open Data</li>
   <li><%= link_to 'Tom Cairns', 'http://www.thomas-cairns.co.uk/' %> for his inquisitiveness and independent thoughts on this site</li>
   <li><%= link_to 'Alex Hewson', 'http://www.mocko.org.uk/' %> for being the inspiration to build an independent web service with real-time data</li>
  </ul>

 </div>
</div>
