<%= render :partial => 'common/twisty_javascript' %>

<%= content_for :head do %>
 <%= stylesheet_link_tag 'autocomplete' %>
<% end %>

<div id="search">
 <form action="<%= url_for :controller => 'location', :action => 'search' %>">
  <p>Show me services at <input type="text" id="text" name="text" value="<%= params[:location] %>"> on <input type="text" name="date" size="11" value="<%= @time.strftime('%Y-%m-%d') %>"/> at <input type="text" name="time" size="4" value="<%= @time.strftime('%H:%M') %>"/> <input type="submit" value="Go" /></p>
 </form>
</div>

<br />

<% if advanced_mode? %>

<div id="search">
 <form action="<%= url_for :controller => 'schedule', :action => 'search' %>">
  <p>Show me train <input type="text" id="schedule" name="schedule" value="<%= params[:schedule] %>" /> on <input type="text" name="date" size="11" value="<%= @time.strftime('%Y-%m-%d') %>"/> <input type="submit" value="Go" /></p>
 </form>
</div>

<% end %>
