<%= content_for :jumbotron do %>
<header class="jumbotron masthead" id="overview">
 <div class="inner">
  <div class="container">
   <h1>Open Train Times</h1>
   <p class="lead">
    Real-time train information using Open Data.
   </p>
   <%= render :partial => 'common/autocomplete_javascript', :locals => { :element => 'term', :controller => 'location', :action => 'search', :min_length => 3 } %>
   <form action="<%= url_for :controller => 'location', :action => 'search' %>">
    <p class="example">
     Show me trains at <input class="large" id="term" name="term" size="24" type="text">
     <select name="date" class="span5">
      <% @dates.each do |d| %>
       <option value="<%= d[:yyyymmdd] %>"><%= d[:human] %></option>
      <% end %>
     </select>
     at
     <input class="small" id="time" name="time" size="4" type="text"/>
     <button type="submit" class="btn primary">Search</button>
    </p>
    <p>...or try the <%= link_to 'advanced search', :controller => 'search', :action => 'advanced' %> if you're looking for even more detail about trains</p>
   </form>
  </div>
 </div>
</header>
<% end %>

<div class="row">
 <div class="span-one-third">
  <h1>What?</h1>
  <p>We're using Open Data to bring you train information.  Right now, we have timetables, real-time running information and historical data.  We're working to bring you more.</p>
 </div>
 <div class="span-one-third">
  <h1>Why?</h1>
  <p>To help you make even better travel decisions!  We can't make your train always run on time, but we promise to be as clear and honest as is possible.</p>
 </div>
 <div class="span-one-third">
  <h1>Who?</h1>
  <p>This site is designed, built and maintained by <a href="http://blog.poggs.com/">Peter Hicks</a>.  The <a href="http://github.com/poggs/tsdbexplorer/">source code is available</a> on <a href="http://www.github.com/">GitHub</a> and you're free to use it for non-commercial purposes.</p>
 </div>
</div>
