<h1>Search</h1>

<div class="row">
 <div class="span8">
  <section id="search_by_location">
   <h2>By location</h2>
   <p>Just answer these three questions:</p>
   <form action="<%= url_for :controller => 'location', :action => 'search' %>">
    <fieldset>
     <div class="clearfix">
      <label for="location">Which station?</label>
      <div class="input">
       <input class="large" id="location" name="text" size="24" type="text">
      </div>
      <label for="date">What date and time?</label>
      <div class="input">
       <input class="small" id="date" name="date" size="11" type="text" value="<%= @time.strftime('%Y-%m-%d') %>">
       <input class="mini" id="time" name="time" size="4" value="<%= @time.strftime('%H:%M') %>">
      </div>
      <div class="actions">
        <button type="submit" class="btn primary">Search</button>
      </div>
     </fieldset>
    </div>
   </form>
  </section>

<% if advanced_mode? %>
 <div class="span8">
  <section id="technical_search">
   <h2>By technical information</h2>
   <p>Do you want to search for a train by ID or headcode?  Enter it here!</p>
   <form action="<%= url_for :controller => 'schedule', :action => 'search' %>">
    <fieldset>
     <div class="clearfix">
      <label for="schedule">What's the ID or UID?</label>
      <div class="input">
       <input class="small" id="schedule" name="schedule" size="6">
      </div>
      <label for="date">...and which date?</label>
      <div class="input">
       <input class="medium" id="date" name="date" size="11" value="<%= @time.strftime('%Y-%m-%d') %>" >
      </div>
      <div class="actions">
        <button type="submit" class="btn primary">Search</button>
      </div>
     </div>
    </fieldset>
   </form>
  </section>
 </div>
<% end %>

</div>
