<%= render :partial => 'common/autocomplete_javascript', :locals => { :element => 'location', :controller => 'location', :action => 'search', :min_length => 3 } %>
<%= render :partial => 'common/autocomplete_javascript', :locals => { :element => 'from', :controller => 'location', :action => 'search', :min_length => 3 } %>
<%= render :partial => 'common/autocomplete_javascript', :locals => { :element => 'to', :controller => 'location', :action => 'search', :min_length => 3 } %>

<div class="page-header">
 <h1>Advanced search</h1>
</div>

<div class="row">

 <%= render :partial => 'common/pills' %>

 <div class="span6">

  <%= tag 'form', :method => 'GET', :action => (url_for :controller => 'location', :action => 'search'), :class => 'well form-horizontal' %>
   <fieldset>
    <legend>Search by location</legend>

    <div class="control-group">
     <label class="control-label" for="term">Show trains at</label>
     <div class="controls">
      <input class="span3" id="location" name="term" type="text" />
     </div>
    </div>

    <div class="control-group">
     <label for="from">which came from<br />(optional)</label>
     <div class="controls">
      <input class="span3" id="from" name="from" type="text" />
     </div>
    </div>

    <div class="control-group">
     <label for="to">...and later call at<br />(optional)</label>
     <div class="controls">
      <input class="span3" id="to" name="to" type="text" />
     </div>
    </div>

    <div class="control-group">
     <label for="date">on</label>
     <div class="controls">
      <input class="span3" id="date" name="date" size="10" type="text" value="<%= @datetime.to_s(:yyyymmdd) %>" />
     </div>
    </div>

    <div class="control-group">
     <label for="time">at</label>
     <div class="controls">
      <input class="span1" id="time" name="time" size="10" type="text" value="<%= @datetime.to_s(:hhmm_colon) %>" />
     </div>
    </div>

    <div class="form-actions">
     <button type="submit" class="btn btn-primary">Search</button>
    </div>

   </fieldset>
  </form>

 </div>

 <div class="span4">

  <h2>What is this?</h2>

  <p>Search for trains at a particular location by entering the location name in the &quot;Show trains at&quot; box.</p>
  <p>Restrict the search by entering a location in the &quot;...which came from&quot; and &quot;which later call at...&quot; boxes.</p>
  <p>If you enter a three-letter code for a station, trains from associated TIPLOCs will be shown.  For example, WFJ will show trains from Watford Junction and Watford Junction (DC).  If you enter a TIPLOC, only trains for that location will be shown.</p>

 </div>

</div>
