<h1>Administration</h1>

<h2>Statistics</h2>

<h3>Daemons</h3>

<ul>
 <li>Using Redis server v<%= $REDIS.info['redis_version'] %></li>
</ul>

<h3>Database</h3>

<ul>
 <li><%= @stats[:tiplocs] %> timing point locations are known</li>
 <li><%= @stats[:basic_schedules] %> schedules are known, covering the period from <%= @stats[:earliest_schedule] %> to <%= @stats[:latest_schedule] %></li>
 <li><%= @stats[:daily_schedules] %> as-run schedules have been compiled</li>
</ul>

<h3>Timetable</h3>

<ul>
 <li><%= @stats[:cifs_imported] %> CIF files have been imported</li>
 <% if @stats[:cifs_imported] > 0 %><li>The last CIF file was imported on <%= @stats[:last_cif_import] %></li><% end %>
</ul>
