<div class="page-header">
 <h1>Administration</h1>
</div>

<div class="row">
 <%= render :partial => 'common/pills' %>
 <div class="span10">
  <h2>In-memory database</h2>
  <table class="table condensed-table">
   <thead>
    <tr>
     <th>Metric</th>
     <th class="span2">Value</th>
    </tr>
   </thead>
   <tbody>
    <tr><td>Redis daemon version</td><td><%= @redis['redis_version'] %></td></tr>
    <tr><td>Architecture</td><td><%= @redis['arch_bits'] %>-bit</td></tr>
    <tr><td>Uptime</td><td><%= time_ago_in_words(Time.now - @redis['uptime_in_seconds'].to_i.seconds) %></td></tr>
    <tr><td>Memory usage</td><td><%= @redis['used_memory_human'] %></td></tr>
    <tr><td>Commands processed</td><td><%= @redis['total_commands_processed'] %></td></tr>
   </tbody>
  </table>
 </div>
</div>
