<div class="page-header">
 <h1>Administration</h1>
</div>

<div class="row">
 <%= render :partial => 'common/pills' %>
 <div class="span10">
  <h2>Overview</h2>
  <table class="table">
   <thead>
    <th class="span2">Feed</th>
    <th>Status</th>
   </thead>
   <tbody>
    <tr>
     <td>Static timetable data</em></td><td><%= raw status_data_for(@status[:timetable_feed]) %></td>
    </tr>
    <tr>
     <td>Train Describer data</td><td><%= raw status_data_for(@status[:train_describer_feed]) %></td>
    </tr>
    <tr>
     <td>TRUST movements</td><td><%= raw status_data_for(@status[:trust_feed]) %></td>
    </tr>
    <tr>
     <td>VSTP schedules</td><td><%= raw status_data_for(@status[:vstp_feed]) %></td>
    </tr>
    <tr>
     <td>RTPPM statistics</td><td><%= raw status_data_for(@status[:rtppm_feed]) %></td>
    </tr>
    <tr>
     <td>TSR data</td><td><%= raw status_data_for(@status[:tsr_feed]) %></td>
    </tr>
   </tbody>
  </table>
 </div>
</div>
