<h1>Administration: Real-Time</h1>

<%= render :partial => 'common/pills' %>

<div class="row">
 <div class="span8">
  <h2>TD</h2>
  <ul>
   <li><%= @stats[:td_messages] %> TD messages processed</li>
   <li><%= @stats[:td_areas] %> TD areas tracked</li>
   <li><%= @stats[:td_message_ca] %> CA messages processed</li>
   <li><%= @stats[:td_message_cb] %> CB messages processed</li>
   <li><%= @stats[:td_message_cc] %> CC messages processed</li>
   <li><%= @stats[:td_message_ct] %> CT messages processed</li>
  </ul>
 </div>
 <div class="span8">
  <h2>TRUST</h2>
  <ul>
   <li><%= @stats[:trust_messages] %> TRUST messages processed</li>
   <li><%= @stats[:trust_activations] %> activations</li>
   <li><%= @stats[:trust_cancellations] %> train cancellations</li>
   <li><%= @stats[:trust_movements] %> train movements</li>
   <li><%= @stats[:trust_unidentified_trains] %> unidentified trains</li>
   <li><%= @stats[:trust_train_reinstatements] %> train reinstatements</li>
   <li><%= @stats[:trust_change_of_origins] %> change-of-origin</li>
   <li><%= @stats[:trust_change_of_identities] %> change-of-identity</li>
   <li><%= @stats[:trust_change_of_locations] %> change-of-location</li>
  </ul>
 </div>
</div>
<div class="row">
 <div class="span8">
  <h2>TSR</h2>
  <ul>
   <li><%= @stats[:tsr_messages] %> TSR messages processed</li>
  </ul>
 </div>
 <div class="span8">
  <h2>VSTP</h2>
   <li><%= @stats[:vstp_messages] %> VSTP messages processed</li>
  </ul>
 </div>
</div>

