<h1>Administration: Timetable</h1>

<%= render :partial => 'common/pills' %>

<div class="row">
 <div class="span16">
  <h2>Statistics</h2>
  <ul>
   <li><%= @stats[:cifs_imported] %> CIF files have been imported</li>
   <li><%= @stats[:tiplocs] %> timing point locations are known</li>
   <li><%= @stats[:basic_schedules] %> schedules are known, covering the period from <%= @stats[:earliest_schedule] %> to <%= @stats[:latest_schedule] %></li>
   <% if @stats[:cifs_imported] %><li>The last CIF file was imported on <%= @stats[:last_cif_import] %></li><% end %>
  </ul>
 </div>
</div>

<div class="row">
 <div class="span16">
  <h2>Schedule extracts</h2>

  <% if $CONFIG['TIMETABLE'] %>

  <ul>
   <li>There are <%= @all_timetables.count %> timetable files in <%= $CONFIG['TIMETABLE']['path'] %></li>
  </ul>

  <table class="zebra-striped condensed-table">
   <thead>
    <tr>
     <th>Filename</th>
     <th>Mainframe identity</th>
     <th>Type</th>
     <th>Imported</th>
    </tr>
   </thead>
   <tbody>
    <% @all_timetables.keys.sort.each do |t| %>
     <tr>
      <td><%= t %></td>
      <td><%= @all_timetables[t][:file_mainframe_identity] %></td>
      <td><%= @all_timetables[t][:extract_type] %></td>
      <td><%= @all_timetables[t][:imported] && image_tag('tick.png', :alt => 'Real-time information available') %></td>
     </tr>
    <% end %>
   </tbody>
  </table>

  <% else %>
   <p>
    <div class="alert-message warning">No timetable directory has been specified in the configuration file</div>
   </p>
  <% end %>

 </div>
</div>
