<% if @schedule.status == 'B' || @schedule.status == '5' %>
 <div class="twisty closed">
  <div>Bus information</div>
  <div>
   <% if @schedule.status == 'B' %>
    <p>This is a scheduled bus service.</p>
   <% elsif @schedule.status == '5' %>
    <p>This is a rail-replacement bus service due to engineering work.</p>
   <% else %>
   <% end %>
  </div>
 </div>
<% else %>
 <div class="twisty closed">
  <div>Train information</div>
  <div>
   <p>This <%= decode_train_category(@schedule.category) %> train is timed for a <%= @schedule.power_type %><%= @schedule.timing_load %> running at <%= @schedule.speed.to_i %> mph.  The train will run as <%= @schedule.train_identity %>.</p>
  </div>
 </div>
<% end %>
