<thead>
 <tr>
  <th>Location</th>
  <th class="span1">Pfm</th>
  <th class="span1">Arr</th>
  <th class="span1">Dep</th>
 </tr>
</thead>
<tbody>
 <% @schedule.locations.each do |l| %>
  <% if l.is_public? %>
  <tr>
   <td style="text-align: left;"><%= tidy_text(decode_tiploc(l)) %>&nbsp;<%= raw format_activities(l) %></td>
   <td><%=raw l.platform || "&nbsp;" %></td>
   <td><%= l.public_arrival %></td>
   <td><%= l.public_departure %></td>
  </tr>
  <% end %>
 <% end %>
</tbody>
