<div class="alert-message info">
 <% if @as_run.departed_origin? %>
  Real-time information is available for this train, and is shown below
 <% else %>
  Real-time information will be shown for this train after it has departed <%= tidy_text(decode_tiploc(@as_run.origin)) %>
<% end %>
</div>

<table>

<% if session[:mode] == 'advanced' %>

 <thead>
  <tr>
   <th>Location</th>
   <th>Pfm</th>
   <th>Line</th>
   <th>Path</th>
   <th>Arrival</th>
   <th>WTT Arr</th>
   <th>Pass</th>
   <th>Departure</th>
   <th>WTT Dep</th>
   <th>Performance</th>
  </tr>
 </thead>
 <tbody>
  <% @as_run.locations.each do |l| %>
   <tr>
    <td><%= tidy_text(decode_tiploc(l)) %></td>
    <td><%= l.platform %></td>
    <td><%= l.line %></td>
    <td><%= l.path %></td>
    <td><%= time_only(l.public_arrival) %></td>
    <td><%= format_time(l, 'arrival', :wtt) %></td>
    <td><%= format_time(l, 'pass', :wtt) %></td>
    <td><%= time_only(l.public_departure) %></td>
    <td><%= format_time(l, 'departure', :wtt) %></td>
    <td><%= calculate_variation(l) %></td>
   </tr>
  <% end %>
 </tbody>

<% else %>
 <thead>
  <tr>
   <th>Location</th>
   <th style="text-align: center;">Platform</th>
   <th>Arrival</th>
   <th>Departure</th>
   <th>Performance</th>
  </tr>
 </thead>
 <tbody>
  <% @as_run.locations.each do |l| %>
   <% if l.is_public? %>
    <tr>
     <td><%= tidy_text(decode_tiploc(l)) %></td>
     <td style="text-align: center;"><%=raw l.platform || "&nbsp;" %></td>
     <td><%= format_time(l, 'arrival', :public) %></td>
     <td><%= format_time(l, 'departure', :public) %></td>
     <td><%= calculate_variation(l) %></td>
    </tr>
   <% end %>
  <% end %>
 </tbody>

<% end %>

</table>

<%= render :partial => 'common/schedule_key' %>
