<% if @schedule.is_a_train? %>
 <div class="alert-message info">Real-time information is not yet available for this train.</div>
<% end %>

<table id="schedule">

<% if session[:mode] == 'advanced' %>

 <thead>
  <tr>
   <th style="text-align: left;">Location</th>
   <th>Path</th>
   <th>Pfm</th>
   <th>Line</th>
   <th>Arrival</th>
   <th>Pass</th>
   <th>Departure</th>
   <th>Eng</th>
   <th>Path</th>
   <th>Perf</th>
  </tr>
 </thead>
 <tbody>
  <% @schedule.locations.each do |l| %>
   <%= content_tag('tr', '', { :style => l.pass.nil? ? nil : 'background: #eee;' }) do %>
    <td><%= tidy_text(decode_tiploc(l)) %><% if advanced_mode? %>&nbsp;<%= raw format_activities(l) %><% end %></td>
    <td><%= l.path %></td>
    <td><%= l.platform %></td>
    <td><%= l.line %></td>
    <td><%= raw format_location_time(l, :arrival) %></td>
    <td><%= raw format_location_time(l, :pass) %></td>
    <td><%= raw format_location_time(l, :departure) %></td>
    <td><%= l.engineering_allowance %></td>
    <td><%= l.pathing_allowance %></td>
    <td><%= l.performance_allowance %></td>
   <% end %>
  <% end %>
 </tbody>

<% else %>

 <thead>
  <tr>
   <th>Location</th>
   <th>Platform</th>
   <th>Arrives</th>
   <th>Departs</th>
  </tr>
 </thead>
 <tbody>
  <% @schedule.locations.each do |l| %>
   <% if l.is_public? %>
   <tr>
    <td style="text-align: left;"><%= tidy_text(decode_tiploc(l)) %></td>
    <td><%=raw l.platform || "&nbsp;" %></td>
    <td><%= l.public_arrival %></td>
    <td><%= l.public_departure %></td>
   </tr>
   <% end %>
  <% end %>
 </tbody>

<% end %>

</table>
