<div class="row">
 <div class="span14"><h1>Schedule <%= @schedule.first.train_uid %><br /><small>Operated by <%= decode_toc(@schedule.first.atoc_code) %></small></h1></div>
</div>

<% if advanced_mode? %>
 <%= render :partial => 'technical_detail', :locals => { :schedule => @schedule.first } %>
<% end %>

<ul>
 <% @schedule.each do |s| %>
 <li><%= decode_stp_indicator(s, :F) %> schedule - <%= link_to run_details(s), :controller => 'schedule', :action => 'schedule_by_uid_and_run_date', :year => s.runs_from.year, :month => s.runs_from.month, :day => s.runs_from.day %></li>
<% end %>
</ul>

<div class="span6">
 <%= calendar_for @date_array, :year => @date.year, :month => @date.month do |calendar| %>
  <%= calendar.head('Su', 'M', 'T', 'W', 'Th', 'F', 'S') %>
  <%= calendar.day(:day_method => :date) do |date, schedule| %>
   <%= date.day %>
   <div style="text-align: center;"><%= link_to schedule.first.type, :action => 'schedule_by_uid_and_run_date', :year => date.year, :month => date.month, :day => date.day unless schedule.length == 0 %></div>
  <% end %>
 <% end %>
</div>



