<div id="service_detail">
 <div id="mode"><%= mode_icon_for(@schedule.first.status) %></div>
 <div id="headline">Schedule <%= params[:uid] %></div>
<% unless @schedule.first.atoc_code == 'ZZ' %>
 <div id="operator"><%= decode_toc(@schedule.first.atoc_code) %></div>
<% end %>
</div>

<%= render :partial => 'technical_detail', :locals => { :schedule => @schedule.first } %>

<div id="calendar">
 <%= calendar_for @date_array, :year => @date.year, :month => @date.month do |calendar| %>
  <%= calendar.head('Su', 'M', 'T', 'W', 'Th', 'F', 'S') %>
  <%= calendar.day(:day_method => :date) do |date, schedule| %>
   <%= date.day %>
   <div style="text-align: center;"><%= link_to schedule.first.type, :action => 'schedule_by_uid_and_run_date', :date => date.to_s(:iso) unless schedule.length == 0 %></div>
  <% end %>
 <% end %>
</div>

<ul>
 <% @schedule.each do |s| %>
 <li><%= decode_stp_indicator(s) %> schedule - <%= link_to run_details(s), :controller => 'schedule', :action => 'schedule_by_uid_and_run_date', :date => s.runs_from.to_s(:iso) %></li>
<% end %>
</ul>


