<%= render :partial => 'schedule/schedule_headline', :locals => { :schedule => @schedule.first, :mode => 'schedule' } %>

<div class="row">
 <div class="span12 well">

  <h2>Validity</h2>
  <table class="table bordered-table">
   <thead>
    <tr>
     <th>Type</th>
     <th>Validity</th>
    </tr>
   </thead>
   <tbody>
    <% @schedule.each do |s| %>
     <tr>
      <td><%= decode_stp_indicator(s, :F) %></td>
      <td><%= link_to run_details(s), :controller => 'schedule', :action => 'schedule_by_uid_and_run_date', :year => s.runs_from.year, :month => s.runs_from.month, :day => s.runs_from.day %></td>
     </tr>
    <% end %>
   </tbody>
  </table>
 </div>

</div>

<div class="row">
 <div class="span12">
  <h3>Validity calendar</h3>
 </div>
</div>

<div class="row">
 <% (0...4).each do |m| %>
  <div class="span3">
   <%= render :partial => 'calendar', :locals => { :date_array => @date_array, :date => @date.beginning_of_month + m.month } %>
  </div>
 <% end %>
</div>

<div class="row">
 <% (4...8).each do |m| %>
  <div class="span3">
   <%= render :partial => 'calendar', :locals => { :date_array => @date_array, :date => @date.beginning_of_month + m.month } %>
  </div>
 <% end %>
</div>

