<div class="page-header">
 <h1>Select a schedule</h1>
</div>

<div class="row">
 <div class="span12">
  <p>We found more than one schedule that matched <strong><%= params[:term] %></strong> - please select one of the following:</p>
 </div>
</div>

<div class="row">
 <div class="span12">
  <table class="table condensed-table">
   <thead>
    <tr>
     <th class="span2">Schedule</th>
     <th class="span8">Journey</th>
     <th class="span2">Operator</th>
    </tr>
   </thead>
   <tbody>
    <% @schedule.sort { |a,b| a.atoc_code <=> b.atoc_code }.each do |s| %>
     <tr>
      <td>
       <% if params[:date] %>
        <%= link_to (content_tag :i, { :class => 'icon-calendar' }) + s.train_uid + " (" + decode_stp_indicator(s, :A) + ")", :controller => 'schedule', :action => 'schedule_by_uid_and_run_date', :uid => s.train_uid, :year => params[:year], :month => params[:month], :day => params[:day] %> (<%= s.train_identity %>)
       <% else %>
        <%= link_to raw('<i class="icon-list-alt"></i>&nbsp;') + s.train_uid + " (" + decode_stp_indicator(s, :A) + ")", :controller => 'schedule', :action => 'schedule_by_uid', :uid => s.train_uid %>
        <br />
        <i class="icon-cog">&nbsp;</i><%= s.train_identity %>
       <% end %>
      </td>
      <td>
       <%= raw format_location_time(s.origin, :departure) %> <%= tidy_text(decode_tiploc(s.origin)) %> to <%= tidy_text(decode_tiploc(s.terminate)) %>
       <br />
       <em><%= run_details(s) %></em>
      </td>
      <td><%= decode_toc(s.atoc_code) %></td>
     </tr>
    <% end %>
   </tbody>
  </table>
 </div>
</div>
