<% schedule.each do |s| %>
  <%= tag 'tr', { :style => s.basic_schedule.atoc_code == "ZZ" ? 'background: #eee;' : nil }, 'open' %>
  <% if advanced_mode? %>
   <td><%= link_to raw('<i class="icon-info-sign"></i>'), { :controller => 'schedule', :action => 'schedule_by_uid_and_run_date', :uid => s.basic_schedule.train_uid, :year => runs_on.year, :month => runs_on.month, :day => runs_on.day } %> <%= s.basic_schedule.train_identity %>&nbsp;<%= decode_stp_indicator(s.basic_schedule, :A) %>
    <%= raw runs_as_required_flags_for(s.basic_schedule) %>
   </td>
   <td><% if s.pass? %><em>PASS</em><% else %><%= raw format_location_time(s, :arrival) %><% end %></td>
   <td><%= raw show_location_name(s, :from) %></td>
   <td><%= format_platform_and_line(s) %>
   <td><%= raw show_location_name(s, :to) %></td>
   <td><% if s.pass? %><%= raw format_location_time(s, :pass) %><% else %><%= raw format_location_time(s, :departure) %><% end %></td>
   <td><%= s.basic_schedule.atoc_code %></td>
  <% else %>
  <td><%= link_to raw('<i class="icon-info-sign"></i>'), :controller => 'schedule', :action => 'schedule_by_uid_and_run_date', :uid => s.basic_schedule.train_uid, :year => runs_on.year, :month => runs_on.month, :day => runs_on.day %>
  </td>
  <td><%= s.public_arrival %></td>
  <td><%= raw show_location_name(s, :from) %></td>
  <td><%= s.basic_schedule.train_identity == "0B00" ? "BUS" : s.platform %></td>
  <td><%= raw show_location_name(s, :to) %></td>
  <td><%= s.public_departure %></td>
  <td><%= decode_toc(s.basic_schedule.atoc_code) %></td>
 </tr>
 <% end %>
<% end %>
