<div class="page-header">
 <h1>Services at <%= @location_name %> (<%= params[:location] %>)</h1>
 <p>
  <ul>
   <li>Between <%= date_range(@range[:from], @range[:to]) %></li>
   <% unless params[:from].blank? %><li>Which have come from <%= tidy_text(@from_location) %> (<%= params[:from].upcase %>)</li><% end %>
   <% unless params[:to].blank? %><li>Which are going to <%= tidy_text(@to_location) %> (<%= params[:to].upcase %>)</li><% end %>
  </ul>
 </p>
</div>

<%= render :partial => 'time_navigation_buttons' %>

<div class="row">
 <div class="span12">
  <table class="table">
   <thead>
   <% if advanced_mode? %>
    <tr>
     <th>Info</th>
     <th><span class="hidden-desktop">Arr</span><span class="visible-desktop">Arrives</span></th>
     <th>From</th>
     <th><span class="hidden-desktop">Pfm</span><span class="visible-desktop">Platform</span></th>
     <th>To</th>
     <th><span class="hidden-desktop">Dep</span><span class="visible-desktop">Departs</span></th>
     <th>TOC</th>
    </tr>
   <% else %>
    <tr>
     <th>Info</th>
     <th><span class="hidden-desktop">Arr</span><span class="visible-desktop">Arrives</span></th>
     <th>From</th>
     <th><span class="hidden-desktop">Pfm</span><span class="visible-desktop">Platform</span></th>
     <th>To</th>
     <th><span class="hidden-desktop">Dep</span><span class="visible-desktop">Departs</span></th>
     <th>Operator</th>
    </tr>
   <% end %>
   </thead>
   <tbody>

    <% @schedule.each do |s| %>
     <%= render :partial => 'display_schedule', :locals => { :runs_on => s[0], :schedule => s[1] } unless s[1].blank? %>
    <% end %>

   </tbody>
  </table>
 </div>
</div>

<%= render :partial => 'time_navigation_buttons' %>
