<div class="page-header">
 <h1>Services at <%= @location_name %> (<%= params[:location] %>)</h1>
 <p>
  <ul>
   <li>Between <%= date_range(@range[:from], @range[:to]) %></li>
   <% unless params[:from].blank? %><li>Which have come from <%= tidy_text(@from_location) %> (<%= params[:from].upcase %>)</li><% end %>
   <% unless params[:to].blank? %><li>Which are going to <%= tidy_text(@to_location) %> (<%= params[:to].upcase %>)</li><% end %>
  </ul>
 </p>
</div>

<%= render :partial => 'time_navigation_buttons' %>

<div class="row-fluid">
 <div class="span12">
  <table class="table">
   <%= render :partial => 'location_header' %> 
   <%= render :partial => 'location_body', :locals => { :schedule => @schedule } %>
  </table>
 </div>
</div>

<%= render :partial => 'time_navigation_buttons' %>
