<div class="page-header">
  <h1>Services at <%= tidy_text(@location.tps_description) %><br /><small>Between <%= date_range(@range[:from], @range[:to]) %></small></h1>
</div>

<div>
 <div style="text-align: left; float: left;"><%= link_to "< 1h earlier", { :year => (@datetime - 1.hour).year, :month => (@datetime - 1.hour).month, :day => (@datetime - 1.hour).day, :time => (@datetime - 1.hour).to_s(:hhmm) }, { :class => 'btn primary' } %></div>
 <div style="text-align: right;"><%= link_to "1h later >", { :year => (@datetime + 1.hour).year, :month => (@datetime + 1.hour).month, :day => (@datetime + 1.hour).day, :time => (@datetime + 1.hour).to_s(:hhmm) }, { :class => 'btn primary' } %></div>
</div>

<table>
 <thead>
 <% if advanced_mode? %>
  <tr>
   <th>Info</th>
   <th>Arr (WTT)</th>
   <th>From</th>
   <th>Plat</th>
   <th>Line</th>
   <th>Path</th>
   <th>To</th>
   <th>Dep (WTT)</th>
   <th>Operator</th>
  </tr>
 <% else %>
 <tr>
  <th>Info</th>
  <th>Arrival</th>
  <th>From</th>
  <th>Plat.</th>
  <th>To</th>
  <th>Departure</th>
  <th>Operator</th>
 </tr>
 <% end %>
 </thead>
 <tbody>
  <% if @schedule_a || @schedule_b %>
   <%= render :partial => 'display_schedule', :locals => { :schedule => @schedule_a } %>
   <%= render :partial => 'display_schedule', :locals => { :schedule => @schedule_b } %>
  <% else %>
   <%= render :partial => 'display_schedule', :locals => { :schedule => @schedule } %>
  <% end %>
 </tbody>
</table>
