<tr>
 <td><%= tidy_text(decode_tiploc(location)) %></td>
 <td style="text-align: center;"><%= location.platform %></td>
 <td style="text-align: center;"><%= location.actual_platform %></td><% end %>
 <td style="text-align: center;"><%= time_only(location.arrival) %></td>
 <td style="text-align: center;"><%= raw(@schedule.cancelled? ? "<span class=\"late\">Cancelled</span>" : schedule_or_actual(location.public_arrival, location.actual_arrival)) %></td><% end %>
 <td style="text-align: center;"><%= time_only(location.pass) %></td>
 <td style="text-align: center;"><%= raw(@schedule.cancelled? ? "<span class=\"late\">Cancelled</span>" : schedule_or_actual(location.pass, location.actual_pass)) %></td><% end %>
 <td style="text-align: center;"><%= time_only(location.departure) %></td>
 <td style="text-align: center;"><%= raw(@schedule.cancelled? ? "<span class=\"late\">Cancelled</span>" : schedule_or_actual(location.public_departure, location.actual_departure)) %></td><% end %>
</tr>
