<%= content_for :script do %>
 <script type="text/javascript">
  $(document).ready( function() {
   $("tr:nth-child(odd)").addClass("odd");
  });
 </script>
<% end %>

<h1>Trains at <%= tidy_text(@location.tps_description) %></h1>

<a onclick="$('#technical').slideToggle();">Click to show or hide technical information about this location</a>

<div id="technical" style="display: none;">
 <table>
  <tr>
   <th>TIPLOC</th>
   <th>CRS code</th>
   <th>NALCO</th>
   <th>STANOX</th>
  </tr>
  <tr>
   <td><%= @location.tiploc_code %></td>
   <td><%= @location.crs_code %></td>
   <td><%= @location.nalco %></td>
   <td><%= @location.stanox %></td>
  </tr>
 </table>
</div>

<table>
 <tr>
  <th>&nbsp;</th>
  <th>ID</th>
  <th>Arrival</th>
  <th>Pfm</th>
  <th>From</th>
  <th>Pass</th>
  <th>To</th>
  <th>Departure</th>
  <th>Activity</th>
 </tr>
 <% @schedule.sort { |a,b| TSDBExplorer::train_sort(a,b) }.each do |train| %>
  <% if train.daily_schedule.nil? %>
   <tr>
    <td colspan="8" style="background: #c44; color: white; font-weight: bold; text-align: center;">ERROR: Schedule <%= train.daily_schedule_uuid %> not found</td>
   </tr>
  <% else %>
   <tr>
    <td>
     <% if train.daily_schedule.cancelled? %>
      <abbr title="Cancelled at <%= time_only(train.daily_schedule.cancelled) %>"><%= image_tag('cross.png') %></abbr>
     <% elsif train.daily_schedule.activated? %>
      <abbr title="Activated at <%= time_only(train.daily_schedule.activated) %>"><%= image_tag('tick.png') %></abbr>
     <% else %>
      <abbr title="Not infomration"><%= image_tag('question.png') %></abbr>
     <% end %>
    </td>
    <td><%= link_to train.daily_schedule.train_identity, { :action => 'schedule', :uuid => train.daily_schedule.uuid } %></td>
    <td><%= raw(schedule_or_actual(train.arrival, train.actual_arrival)) %></td>
    <td><%= train.platform %></td>
    <td><%= tidy_text(decode_tiploc(train.daily_schedule.daily_schedule_locations.first)) %></td>
    <td><%= time_only(train.pass) %></td>
    <td><%= tidy_text(decode_tiploc(train.daily_schedule.daily_schedule_locations.last)) %></td>
    <td><%= raw(schedule_or_actual(train.departure, train.actual_departure)) %></td>
    <td>
     <% if train.daily_schedule.cancelled %>
      <span class="late">CANCELLED</span>
     <% else %>
      <% if train.activity == "TB" %>Starts here<% end %>
      <% if train.activity == "TF" %>Terminates here<% end %>
     <% end %>
    </td>
   </tr>
  <% end %>
 <% end %>
</table>
