<%= content_for :script do %>
 <script type="text/javascript">
  $(document).ready( function() {
   $("tr:nth-child(odd)").addClass("odd");
  });
 </script>
<% end %>

<table>
 <tr>
  <th>TIPLOC</th>
  <th>Location</th>
  <th>CRS code</th>
  <th>NALCO</th>
  <th>STANOX</th>
 </tr>
 <tr>
  <td><%= @location.tiploc_code %></td>
  <td><%= tidy_text(@location.tps_description) %></td>
  <td><%= @location.crs_code %></td>
  <td><%= @location.nalco %></td>
  <td><%= @location.stanox %></td>
 </tr>
</table>

<table>
 <tr>
  <th>ID</th>
  <th>Arrival</th>
  <th>Pfm</th>
  <th>From</th>
  <th>Pass</th>
  <th>To</th>
  <th>Departure</th>
  <th>Activity</th>
 </tr>
 <% @schedule.sort { |a,b| TSDBExplorer::train_sort(a,b) }.each do |train| %>
  <% if train.basic_schedule.nil? %>
   <tr>
    <td colspan="8" style="background: #c44; color: white; font-weight: bold; text-align: center;">ERROR: Schedule <%= train.basic_schedule_uuid %> not found</td>
   </tr>
  <% else %>
   <tr>
    <td><%= link_to train.basic_schedule.train_identity, { :action => 'schedule', :uuid => train.basic_schedule_uuid } %></td>
    <td><%= time_only(train.arrival) %></td>
    <td><%= train.platform %></td>
    <td><%= decode_tiploc(train.basic_schedule.locations.first) %></td>
    <td><%= time_only(train.pass) %></td>
    <td><%= decode_tiploc(train.basic_schedule.locations.last) %></td>
    <td><%= time_only(train.departure) %></td>
    <td>
     <% if train.activity == "TB" %>Starts here<% end %>
     <% if train.activity == "TF" %>Terminates here<% end %>
    </td>
   </tr>
  <% end %>
 <% end %>
</table>
