<%= content_for :script do %>
 <script type="text/javascript">
  $(document).ready( function() {
   $("tr:nth-child(odd)").addClass("odd");
  });
 </script>
<% end %>

<p>Showing <%= @schedule.count %> trains at <%= @location.tps_description %><%= @location.crs_code? ? " (" + @location.crs_code + ")" : "" %></p>

<table>
 <tr>
  <th>ID</th>
  <th>Arrival</th>
  <th>Pfm</th>
  <th>From</th>
  <th>Pass</th>
  <th>To</th>
  <th>Departure</th>
  <th>Activity</th>
 </tr>
 <% @schedule.sort { |a,b| TSDBExplorer::train_sort(a,b) }.each do |train| %>
 <tr>
  <td><%= link_to train.basic_schedule.train_identity, { :action => 'schedule', :uuid => train.basic_schedule_uuid } %></td>
  <td><%= time_only(train.arrival) %></td>
  <td><%= train.platform %></td>
  <td><%= train.basic_schedule.locations.first.tiploc.tps_description %></td>
  <td><%= time_only(train.pass) %></td>
  <td><%= train.basic_schedule.locations.last.tiploc.tps_description %></td>
  <td><%= time_only(train.departure) %></td>
  <td>
   <% if train.activity == "TB" %>Starts here<% end %>
   <% if train.activity == "TF" %>Terminates here<% end %>
  </td>
 </tr>
 <% end %>
</table>
