<div id="service_detail">
  <div id="mode"><%= mode_icon_for(@schedule.status) %></div>
  <div id="headline"><%= time_only(@schedule.origin.departure) %> <%= tidy_text(decode_tiploc(@schedule.origin.tiploc)) %> to <%= tidy_text(decode_tiploc(@schedule.terminate.tiploc)) %></div>
  <div id="operator">Operated by <%= decode_toc(@schedule.atoc_code) %></div>
  <div id="attributes">
   <%= raw catering_icon(@schedule.catering_code) unless @schedule.catering_code.nil? %>
  </div>
  <div id="running_status">
   <% if @daily_schedule %>
    <% if @daily_schedule.departed_origin? %>
     <p>Real-time information is available for this train</p>
    <% else %>
    <p>Real-time information will be available once the train has left <%= tidy_text(decode_tiploc(@schedule.origin)) %>.</p>
    <% end %>
   <% else %>
    <p>This schedule may be subject to amendment up to 48 hours before departure.</p>
   <% end %>
  </div>
  <% if @schedule.is_a? DailySchedule %>
   <% if @schedule.cancelled? %>
    <div id="alert">This train has been cancelled.<br />This is due to <%= da_to_text(@schedule.cancellation_reason) %>.</div>
   <% end %>
  <% end %>
</div>

<% if session[:mode] == 'advanced' %>
 <%= render :partial => 'schedule/schedule_information', :schedule => @schedule %>
 <%= render :partial => 'schedule/extra_information', :schedule => @schedule %>
<% end %>

<table>
 <%= render :partial => 'common/schedule_header' %>
 <%= render :partial => 'common/schedule_point', :collection => @schedule.locations %>
</table>

<div id="key">
 Scheduled times are in <em>italics</em>, and actual times are in <strong>bold</strong>.  Actual times may be in <span class="early">blue</span> if they are earlier than scheduled, <span class="ontime">green</span> if they are between -3 and +5 minutes of the schedule, and <span class="late">red</span> if they are later than 5 minutes.
</div>