<h1>Select a schedule</h1>

<% if @schedule.is_a? Array %>

 <% if @schedule.count == 0 %>
  <p>No schedules found.</p>
 <% else %>

 <p>There are <%= @schedule.count %> schedules for this service.  Please select one from the following:</p>

  <table>
   <tr>
    <th style="width: 1px;"></th>
<% if session[:mode] == 'advanced' %>
    <th>Identity</th>
<% end %>
    <th>Journey</th>
<% if session[:mode] == 'advanced' %>
    <th>Traction</th>
<% end %>
    <th>Operator</th>
   </tr>
   <% @schedule.each do |s| %>
    <tr>
     <td><%= link_to (image_tag 'information.png'), :controller => 'schedule', :uuid => s.uuid %></td>
<% if session[:mode] == 'advanced' %>
     <td><%= s.train_identity %></td>
<% end %>
     <td><%= s.origin.departure %> <%= tidy_text(decode_tiploc(s.origin)) %> to <%= tidy_text(decode_tiploc(s.terminate)) %></td>
<% if session[:mode] == 'advanced' %>
     <td><%= s.power_type %><%= s.speed %></td>
<% end %>
     <td><%= s.atoc_code %></td>
    </tr>
   <% end %>
  </table>

 <% end %>

<% elsif @schedule.is_a? BasicSchedule %>

 <p>ERROR: BasicSchedule passed to schedule</p>

<% else %>

 <p>No schedules found.</p>

<% end %>
