<% if schedule_point.respond_to? :basic_schedule_uuid %>

 <% if advanced_mode? %>

  <tr>
   <td><%= tidy_text(decode_tiploc(schedule_point)) %></td>
   <td style="text-align: center;"><%= schedule_point.platform %></td>
   <td style="text-align: center;"><%= schedule_point.arrival %></td>
   <td style="text-align: center;"><%= schedule_point.public_arrival %></td>
   <td style="text-align: center;"><%= schedule_point.pass %></td>
   <td style="text-align: center;"><%= schedule_point.line %></td>
   <td style="text-align: center;"><%= schedule_point.path %></td>
   <td style="text-align: center;"><%= schedule_point.departure %></td>
   <td style="text-align: center;"><%= schedule_point.public_departure %></td>
  </tr>

 <% elsif schedule_point.pass.nil? %>

  <tr>
   <td><%= tidy_text(decode_tiploc(schedule_point)) %></td>
   <td style="text-align: center;"><%= schedule_point.platform %></td>
   <td style="text-align: center;"><%= schedule_point.public_arrival %></td>
   <td style="text-align: center;"><%= schedule_point.public_departure %></td>
  </tr>

 <% end %>

<% else %>

 <% if advanced_mode? %>

  <tr>
   <td><%= tidy_text(decode_tiploc(schedule_point)) %></td>
   <td style="text-align: center;"><%= schedule_point.platform %></td>
   <td style="text-align: center;"><%= schedule_point.actual_platform %></td>
   <td style="text-align: center;"><%= time_only(schedule_point.arrival) %></td>
   <td style="text-align: center;">
    <% unless schedule_point.arrival.nil? %>
     <% if schedule_point.actual_arrival.nil? %>
      Due <%= time_only(schedule_point.expected_arrival) %>
     <% else %>
      Arr'd <%= time_only(schedule_point.actual_arrival) %>
     <% end %>
    <% end %>
   </td>
   <td style="text-align: center;"><%= time_only(schedule_point.pass) %></td>
   <td style="text-align: center;">
    <% unless schedule_point.pass.nil? %>
     <% if schedule_point.actual_pass.nil? %>
      Due <%= time_only(schedule_point.pass) %>
     <% else %>
      Pass'd <%= time_only(schedule_point.actual_pass) %> 
     <% end %>
    <% end %>
   </td>
   <td style="text-align: center;"><%= time_only(schedule_point.departure) %></td>
   <td style="text-align: center;">
    <% unless schedule_point.departure.nil? %>
     <% if schedule_point.actual_departure.nil? %>
      Due <%= time_only(schedule_point.expected_departure) %>
     <% else %>
      Dep'd <%= time_only(schedule_point.actual_departure) %>
     <% end %>
    <% end %>
   </td>
  </tr>

 <% else %>

  <% unless schedule_point.pass? %>

   <tr>
    <td><%= tidy_text(decode_tiploc(schedule_point)) %></td>
    <td style="text-align: center;"><%= schedule_point.platform %></td>
    <td style="text-align: center;">
     <% unless schedule_point.location_type == 'LO' %>
      <% if schedule_point.actual_arrival.nil? %>
       Expected <%= time_only(schedule_point.expected_arrival) %>
      <% else %>
       Arrived <%= time_only(schedule_point.actual_arrival) %>
      <% end %>
     <% end %>
    </td>
    <td style="text-align: center;">
     <% unless schedule_point.location_type == 'LT' %>
      <% if schedule_point.actual_departure.nil? %>
       Expected <%= time_only(schedule_point.expected_departure) %>
      <% else %>
       Departed <%= time_only(schedule_point.actual_departure) %>
      <% end %>
     <% end %>
    </td>
   </tr>

   <% end %>

 <% end %>

<% end %>
