<h1>Select a schedule</h1>

<% if @schedule.is_a? Array %>

 <% if @schedule.count == 0 %>
  <p>No schedules found.</p>
 <% else %>

 <p>There are <%= @schedule.count %> schedules for this service.  Please select one from the following:</p>

  <table>
   <tr>
    <th style="width: 8em;">Identity</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Type</th>
   </tr>
   <% @schedule.each do |s| %>
    <tr>
     <td><%= link_to s.train_identity + " / " + s.train_uid, :controller => 'schedule', :uuid => s.uuid %></td>
     <td><%= s.origin.departure %> <%= tidy_text(decode_tiploc(s.origin)) %></td>
     <td><%= tidy_text(decode_tiploc(s.terminate)) %></td>
     <td><%= s.stp_indicator %></td>
    </tr>
   <% end %>
  </table>

 <% end %>

<% elsif @schedule.is_a? BasicSchedule %>

 <p>ERROR: BasicSchedule passed to schedule</p>

<% else %>

 <p>No schedules found.</p>

<% end %>
