<tr>
 <td><%= tidy_text(decode_tiploc(schedule_point)) %></td>
 <td style="text-align: center;"><%= schedule_point.platform %></td>
 <td style="text-align: center;"><%= schedule_point.arrival %></td>
 <td style="text-align: center;"><%= schedule_point.pass %></td>
 <td style="text-align: center;"><%= schedule_point.departure %></td>
</tr>
