
<% if @schedule.nil? %>

 <p>Schedule not found.</p>

<% else %>

<%= content_for :script do %>
 <script type="text/javascript">
  $(document).ready( function() {
   $("tr:nth-child(odd)").addClass("odd");
  });
 </script>
<% end %>

<div id="service_detail">
  <div id="headline"><%= time_only(@schedule.origin.departure) %> <%= tidy_text(decode_tiploc(@schedule.origin.tiploc)) %> to <%= tidy_text(decode_tiploc(@schedule.terminate.tiploc)) %></div>
  <div id="operator">Operated by <%= decode_toc(@schedule.atoc_code) %></div>
</div>

<ul>
 <li><a href="#" onclick="$('#technical').slideToggle();">Show/Hide technical information</a></li>
 <li><a href="#" onclick="$('tr#pass').fadeToggle();">Show/hide passing times</a></li>
</ul>

<div id="technical" style="display: none;">
 <table>
  <tr>
   <th>Runs on</th>
   <th>Identity</th>
   <th>UID</th>
   <th>Category</th>
   <th>Train type</th>
   <th>Service Code</th>
   <th>Status</th>
   <th>Characteristics</th>
  </tr>
  <tr>
   <td><%= @schedule.runs_on %></td>
   <td><%= @schedule.train_identity %></td>
   <td><%= @schedule.train_uid %></td>
   <td><%= decode_train_category(@schedule.category) %></td>
   <td><%= @schedule.power_type %><%= @schedule.timing_load %> at <%= @schedule.speed %>mph</td>
   <td><%= @schedule.service_code %></td>
   <td><%= decode_train_status(@schedule.status) %></td>
   <td><%= decode_operating_characteristics(@schedule.operating_characteristics) %></td>
  </tr>
 </table>
</div>

<ul>
 <li>Scheduled times appear in <em>italics</em>, e.g. <em>0718</em>.  Actual times appear in <strong>bold</strong>, e.g. <strong>0719</strong>.</li>
 <li>Times in <span class="early">blue</span>, e.g. <span class="early">0718</span> indicate an arrival 3 or more minutes early.</li>
 <li>Times in <span class="ontime">green</span>, e.g. <span class="ontime">0718</span> indicate an arrival or departure time between 3 minutes early and 5 minutes late.</li>
 <li>Times in <span class="late">red</span>, e.g. <span class="late">0718</span> indivate an arrival or departure time over 5 minutes late.</li>
</ul>

<table>
 <tr><th>Location</th>
 <th>Platform</th>
 <th>Arrival</th>
 <th>Pass</th>
 <th>Departure</th>
 </tr>
 <% @schedule.daily_schedule_locations.each do |location| %>
  <% if location.pass %>
  <tr id="pass" style="display: none;">
  <% else %>
  <tr>
  <% end %>
   <td><%= tidy_text(decode_tiploc(location)) %></td>
   <td><%= raw(platform_or_actual(location.platform, location.actual_platform)) %></td>
   <td><%= raw(schedule_or_actual(location.arrival, location.actual_arrival)) %></td>
   <td><%= raw(schedule_or_actual(location.pass, location.actual_pass)) %></td>
   <td><%= raw(schedule_or_actual(location.departure, location.actual_departure)) %></td>
  </tr>
 <% end %>
</table>

<% end %>
