<%= content_for :script do %>
 <script type="text/javascript">
  $(document).ready( function() {
   $("tr:nth-child(odd)").addClass("odd");
   $('div.twisty').twisty();
  });
 </script>
<% end %>

<div id="service_detail">
  <div id="mode"><%= mode_icon_for(@schedule.status) %></div>
  <div id="headline"><%= @schedule.locations.first.public_departure || @schedule.locations.first.departure %> <%= tidy_text(decode_tiploc(@schedule.locations.first)) %> to <%= tidy_text(decode_tiploc(@schedule.locations.last)) %></div>
  <% unless @schedule.atoc_code == 'ZZ' %>
   <div id="operator">Operated by <%= decode_toc(@schedule.atoc_code) %></div>
  <% end %>
  <div id="attributes">
   <%= raw catering_icon(@schedule.catering_code) unless @schedule.catering_code.nil? %>
  </div>
  <div id="running_status">

   <% if @schedule.is_a? DailySchedule %>

    <% if @schedule.departed_origin? %>
     <p>Showing actual running data from <%= @schedule.runs_on %></p>
    <% else %>
     <p>Real-time information will be available once the train has left <%= tidy_text(decode_tiploc(@schedule.origin)) %>.</p>
    <% end %>

    <% if @schedule.cancelled? %>
     <div id="alert">This train has been cancelled.<br />This is due to <%= da_to_text(@schedule.cancellation_reason) %>.</div>
    <% end %>

   <% else %>

    <p>This schedule may be subject to amendment up to 48 hours before departure.</p>

    <ul>
     <% @as_run.each do |history| %>
      <li><%= link_to 'History for ' + history.runs_on.to_s, :action => 'actual', :uuid => history.uuid %></li>
     <% end %>
    </ul>

   <% end %>

  </div>

</div>

<% if advanced_mode? %>
 <%= render :partial => 'schedule/schedule_information', :schedule => @schedule %>
 <%= render :partial => 'schedule/extra_information', :schedule => @schedule %>
<% end %>

<table>
 <%= render :partial => 'common/schedule_header' %>
 <%= render :partial => 'common/schedule_point', :collection => @schedule.locations %>
</table>

<div id="key">
 Scheduled times are in <em>italics</em>, and actual times are in <strong>bold</strong>.  Actual times may be in <span class="early">blue</span> if they are earlier than scheduled, <span class="ontime">green</span> if they are between -3 and +5 minutes of the schedule, and <span class="late">red</span> if they are later than 5 minutes.
</div>