
<% if @schedule.nil? %>

 <p>Schedule not found.</p>

<% else %>

<%= content_for :script do %>
 <script type="text/javascript">
  $(document).ready( function() {
   $("tr:nth-child(odd)").addClass("odd");
  });
 </script>
<% end %>

<table>
 <tr>
  <th>Runs on</th>
  <th>Identity</th>
  <th>UID</th>
  <th>Category</th>
  <th>Train type</th>
  <th>Service Code</th>
  <th>Status</th>
  <th>Characteristics</th>
 </tr>
 <tr>
  <td><%= @schedule.runs_on %></td>
  <td><%= @schedule.train_identity %></td>
  <td><%= @schedule.train_uid %></td>
  <td><%= decode_train_category(@schedule.category) %></td>
  <td><%= @schedule.power_type %><%= @schedule.timing_load %> at <%= @schedule.speed %>mph</td>
  <td><%= @schedule.service_code %></td>
  <td><%= decode_train_status(@schedule.status) %></td>
  <td><%= decode_operating_characteristics(@schedule.operating_characteristics) %></td>
 </tr>
</table>

<table>
 <tr>
  <th>Operator</th>
  <th>Seating</th>
  <th>Catering</th>
  <th>Reservations</th>
 </tr>
 <tr>
  <td><%= @schedule.atoc_code %></td>
  <td><%= decode_train_class(@schedule.train_class) %></td>
  <td><%= decode_catering(@schedule.catering_code) %></td>
  <td><%= decode_reservations(@schedule.reservations) %></td>
 </tr>
</table>

<table>
 <tr><th>Location</th>
 <th>Platform</th>
 <th>Arrival</th>
 <th>Pass</th>
 <th>Departure</th>
 </tr>
 <% @schedule.daily_schedule_locations.each do |location| %>
  <tr>
   <td><%= tidy_text(decode_tiploc(location)) %></td>
   <td><%= raw(platform_or_actual(location.platform, location.actual_platform)) %></td>
   <td><%= raw(schedule_or_actual(location.arrival, location.actual_arrival)) %></td>
   <td><%= raw(schedule_or_actual(location.pass, location.actual_pass)) %></td>
   <td><%= raw(schedule_or_actual(location.departure, location.actual_departure)) %></td>
  </tr>
 <% end %>
</table>

<% end %>
