<%= content_for :script do %>
 <script type="text/javascript">
  $().ready(function() {
   $("#location").autocomplete({ source: "<%= url_for :controller => 'search', :action => 'location' %>", minLength: 3 });
   });
 </script>
<% end %>
<%= content_for :head do %>
 <%= stylesheet_link_tag 'autocomplete' %>
<% end %>

<form id="search">
 <p>
  Show me trains at <input type="text" id="location" name="location" value="<%= params[:location] %>">
  around <input type="text" name="target_time" size="5" value="<%= @time.strftime('%H:%M') %>"/>
  on <input type="text" name="target_date" size="10" value="<%= @time.strftime('%Y-%m-%d') %>"/>
  <input type="submit" value="&gt;" />
 </p>
</form>
