<!DOCTYPE html>
<html>
 <head>
  <title>Open Train Times<% if Rails.env != 'production' %> (<%= Rails.env.titlecase %>)<% end %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= yield(:head) %>
  <%= javascript_include_tag 'application' %>
  <%= render :partial => 'common/autocomplete_javascript', :locals => { :element => 'nav_location', :controller => 'location', :action => 'search', :min_length => 3 } %>
  <%= csrf_meta_tag %>
  <%= yield(:script) %>
  <link rel="shortcut icon" href="<%= url_for '/assets/favicon.png' %>" />
 </head>
 <body style="padding-top: 60px;">

  <div class="topbar" data-scrollspy="scrollspy">
   <div class="topbar-inner">
    <div class="container">
     <%= link_to "Open Train Times" + (Rails.env != "production" ? " (" + Rails.env.titlecase + ")" : ""), { :controller => 'main', :action => 'index' }, { :class => 'brand' } %>
     <ul class="nav">
      <li><%= link_to 'About', :controller => 'main', :action => 'about' %></li>
      <li class="dropdown" data-dropdown="dropdown">
       <a href="#" class="dropdown-toggle">Options</a>
       <ul class="dropdown-menu">
        <%= tag 'li', { :class => (advanced_mode? == false ? nil : 'active') }%><%= link_to 'Advanced mode', :controller => 'application', :action => 'toggle_mode' %></li>
       </ul>
      </li>
     </ul>

     <ul class="nav secondary-nav">
      <li>
       <form class="pull-left" action="<%= url_for :controller => 'location', :action => 'search' %>">
        <input type="text" class="span3" name="text" id="text" placeholder="Show trains at..." value="<%= params[:location] %>" /> on <input type="text" class="span2" name="date" id="date" placeholder="on..." value="<%= Date.today.strftime('%Y-%m-%d') %>" />
        <button class="btn" type="submit">Search</button>
       </form>
      </li>
     </ul>

    </div>
   </div>
  </div>

  <div class="container">

   <div class="content">
    <% if flash[:warn] %>
    <span class="label warning"><%= flash[:warn] %></span>
    <% end %>
    <%= yield %>
   </div>

  </div>

  <footer class="footer">
   <div class="container">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p><a href="http://github.com/poggs/tsdbexplorer">Open Train Times</a> is &copy;2011 <a href="mailto:peter.hicks@poggs.co.uk">Peter Hicks</a> using data provided by <a href="http://www.networkrail.co.uk/">Network Rail</a> and <a href="http://www.atoc.org/">RSP</a>.</p> 
    <p>Schedules are available for dates up to <%= @stats[:latest_schedule] %>. Please read the <%= link_to 'disclaimer', :controller => 'main', :action => 'disclaimer' %> to understand the limitations of this site.</p>
   </div>
  </footer>

 </body>
</html>
