<!DOCTYPE html>
<html>
 <head>
  <title>TSDB Explorer<% if Rails.env != 'production' %> (<%= Rails.env.titlecase %>)<% end %></title>
  <%= stylesheet_link_tag :all %>
  <%= yield(:head) %>
  <%= javascript_include_tag "tsdbexplorer", "jquery.min", "expandable-list" %>
  <%= csrf_meta_tag %>
 </head>
 <body>

  <h1>TSDB Explorer</h1>

  <%= yield %>

 </body>
</html>
