<!DOCTYPE html>
<html>
 <head>
  <title>Open Train Times<% if Rails.env != 'production' %> (<%= Rails.env.titlecase %>)<% end %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= yield(:head) %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag @additional_js.join(",") unless @additional_js.nil? %>
  <%= csrf_meta_tag %>
  <%= yield(:script) %>
  <link rel="shortcut icon" href="<%= url_for '/images/favicon.png' %>" />
 </head>
 <body>

  <div id="header">
   <div>Open Train Times<% if Rails.env != 'production' %> (<%= Rails.env.titlecase %>)<% end %></div>
  </div>

<% if @full_page %>
  <div id="page" class="wide">
<% else %>
  <div id="page">
<% end %>

   <div id="body"> 
    <% if flash[:warn] %>
     <div class="flash warn"><%= flash[:warn] %></div>
    <% end %>
    <%= yield %>
   </div>

   <div id="footer">
    <a href="http://github.com/poggs/tsdbexplorer">Open Train Times</a> is &copy;2011 <a href="mailto:peter.hicks@poggs.co.uk">Peter Hicks</a>. Data provided by <a href="http://www.networkrail.co.uk/">Network Rail</a>.  Please read the important information in the <%= link_to 'disclaimer', :controller => 'main', :action => 'disclaimer' %>.
    <span style="float: right;">
     <% if advanced_mode? %>
      <%= link_to (image_tag 'modes/normal.png', :alt => 'Change to Normal Mode'), :controller => 'main', :action => 'toggle_mode' %>
     <% else %>
      <%= link_to (image_tag 'modes/advanced.png', :alt => 'Change to Advanced Mode'), :controller => 'main', :action => 'toggle_mode' %>
     <% end %>
    </span>
   </div>
  </div>

 </body>
</html>
