<!DOCTYPE html>
<html>
 <head>
  <title>Open Train Times<% if Rails.env != 'production' %> (<%= Rails.env.titlecase %>)<% end %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= yield(:head) %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= yield(:script) %>
  <%= render :partial => 'common/analytics' rescue nil %>
  <link rel="shortcut icon" href="<%= url_for '/assets/favicon.png' %>" />
 </head>
 <body>
  <div class="topbar" data-scrollspy="scrollspy">
   <div class="topbar-inner">
    <div class="container">
     <%= link_to "Open Train Times" + (Rails.env != "production" ? " (" + Rails.env.titlecase + ")" : ""), { :controller => 'main', :action => 'index' }, { :class => 'brand' } %>
     <ul class="nav">
      <li><%= link_to 'About', :controller => 'main', :action => 'about' %></li>
      <li class="dropdown" data-dropdown="dropdown">
       <a href="#" class="dropdown-toggle">Options</a>
       <ul class="dropdown-menu">
        <%= tag 'li', { :class => (advanced_mode? == false ? nil : 'active') }%><%= link_to 'Advanced mode', :controller => 'application', :action => 'toggle_mode' %></li>
       </ul>
      </li>
     </ul>
    </div>
   </div>
  </div>

  <%= yield(:jumbotron) %>

  <div class="container" style="padding-top: 64px;">

   <div class="content">
    <% if flash[:warn] %>
    <span class="label warning"><%= flash[:warn] %></span>
    <% end %>
    <%= yield %>
   </div>

  </div>

  <footer class="footer">
   <div class="container">
    <p class="pull-right"><%= link_to (image_tag 'twitter_followus.png'), 'http://twitter.com/opentraintimes' %></p>
    <p><a href="http://github.com/poggs/tsdbexplorer">Open Train Times</a> is &copy;2011-2012 <a href="mailto:peter.hicks@poggs.co.uk">Peter Hicks</a> using data provided by <a href="http://www.networkrail.co.uk/">Network Rail</a>, <a href="http://www.atoc.org/">RSP</a> and <a href="http://www.transportdirect.info/">Transport Direct</a>.</p> 
    <p><% if @stats[:latest_schedule] %>Schedules are available for dates up to <%= @stats[:latest_schedule] %>. <% end %>Please read the <%= link_to 'disclaimer', :controller => 'main', :action => 'disclaimer' %> to understand the limitations of this site.</p>
   </div>
  </footer>

 </body>
</html>
