<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/CreativeWork" lang="en">
 <head>
  <meta charset="utf-8">
  <title><%= $CONFIG['BRANDING'] %><% if Rails.env != 'production' %> (<%= Rails.env.titlecase %>)<% end %></title>
  <meta name="description" content="Real-time train information using Open Data">
  <meta name="author" content="Peter Hicks">

  <!--[if lt IE 9]>
   <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag 'application' %>
  <%= yield(:head) %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= yield(:script) %>
  <%= render :partial => 'common/analytics' rescue nil %>
  <%= render :partial => 'common/google_plus' if $CONFIG['ANALYTICS'] rescue nil %>
  <link rel="shortcut icon" href="<%= url_for '/assets/favicon.png' %>" />
 </head>
 <body onLoad="load_handler();">

  <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
    <div class="container">
     <a href="/" class="brand"><%= $CONFIG['BRANDING'] + (Rails.env != "production" ? " (" + Rails.env.titlecase + ")" : "") %></a>
     <ul class="nav">
      <li><%= link_to 'Search', :controller => 'search', :action => 'advanced' %></li>
      <li><%= link_to 'About', :controller => 'main', :action => 'about' %></li>
      <li class="divider-vertical"></li>
      <form class="navbar-search pull-left" action="<%= url_for :controller => 'location', :action => 'search' %>">
       <input class="search-query" name="term" type="text" value="<%= params[:location] %>" placeholder="Show me trains at...">
      </form>
     </ul>

     <ul class="nav pull-right">
      <li class="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <% if user_signed_in? %>
         <i class="icon-user icon-white"></i>&nbsp;<%= current_user.full_name %>
        <% else %>
         Options
        <% end %>
        <b class="caret"></b>
       </a>
       <ul class="dropdown-menu">
         <li class="nav-header">Site mode</li>
         <%= content_tag :li, (link_to "Normal", { :controller => 'application', :action => 'toggle_mode' }), :class => advanced_mode? ? nil : 'light-active' %>
         <%= content_tag :li, (link_to "Detailed", { :controller => 'application', :action => 'toggle_mode' }), :class => advanced_mode? ? 'light-active' : nil %>
        <% if user_signed_in? %>
         <li class="divider"></li>
         <li class="nav-header">Account settings</li>
         <li><%= link_to "Update your details", edit_user_registration_path %></li>
         <li><%= link_to "Change password", edit_user_registration_path %></li>
         <li class="divider"></li>
         <li><%= link_to "Sign out", destroy_user_session_path %></li>
        <% elsif $CONFIG['AUTH'] == false %>
         <li class="divider"></li>
         <li class="nav-header">Account</li>
         <li><%= link_to "Log in", new_user_session_path %></li>
         <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
       </ul>
      </li>
     </ul>

    </div>
   </div>
  </div>

  <%= yield :jumbotron %>

  <div class="container" style="padding-top: 64px;">

   <div class="content">
    <%= render :partial => 'common/flash', :locals => { :flash => flash } %>
    <%= yield %>
   </div>

  </div>

  <footer class="footer">
   <div class="container">
    <p class="pull-right"><%= link_to (image_tag 'twitter_followus.png'), 'http://twitter.com/opentraintimes' %></p>
    <p><a href="http://github.com/poggs/tsdbexplorer" target="_blank"><%= $CONFIG['BRANDING'] %></a> is &copy;2011-2012 <a href="mailto:peter.hicks@poggs.co.uk">Peter Hicks</a> using data provided by <a href="http://www.networkrail.co.uk/">Network Rail</a>, <a href="http://www.atoc.org/">RSP</a> and <a href="http://www.transportdirect.info/">Transport Direct</a>.</p> 
    <p>Please read the <%= link_to 'disclaimer', :controller => 'main', :action => 'disclaimer' %> to understand the limitations of this site.</p>
    <% if request.url == root_url %>
     <p><!-- Fix this ugly hack -->&nbsp;</p>
     <div class="g-plusone" data-size="small" data-annotation="inline"></div>
    <% end %>
   </div>
  </footer>

 </body>
</html>
